@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('lucida_unicode_sans-webfont.eot');
    src: url('lucida_unicode_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('lucida_unicode_sans-webfont.woff') format('woff'),
         url('lucida_unicode_sans-webfont.ttf') format('truetype'),
         url('lucida_unicode_sans-webfont.svg#lucida_sans_unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.phonetic{font-family: "lucida_sans_unicoderegular", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;}
#tooltip{font-family: "lucida_sans_unicoderegular", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;width: 50px; border:1px solid #333; background: #BBB; display: block; position:absolute; padding:0;border-radius:8px;-webkit-border-radius:8px;font-size: 20px;}
.toolelem:first-of-type{border-top:none;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0; }
.toolelem{border-top: 1px solid #333;list-style-type:none; margin: 0;padding: 5px 6px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;text-align:center;cursor: pointer;}
.toolelem:last-of-type{border-radius:0 0 8px 8px;-webkit-border-radius:0 0 8px 8px; }
.toolelem.active{background: #FFF; color: #3E3E3E;}