@{
    ViewBag.Title = "Help";
}

<h1>Help</h1>
<section class="span3">
    <p>Lorem ipsum dolor sit amet, cu labitur tractatos nam, no per nisl paulo, eu iuvaret sapientem facilisis eos. Eu exerci corpora pertinax sed, ea meis diceret vim, id nam eius mundi iudico. His eripuit blandit legendos ad, probo graece mollis ne pri, eos mnesarchum liberavisse no. Has ex ferri solet, vel eirmod ocurreret et, ei viris timeam qui. Lucilius definitiones eos ea, ei nonumy ponderum imperdiet mea.</p>

    <p>Partem platonem definitiones vim ad, ex illud dicant his. Sit ne mandamus referrentur. Usu persius constituto an, ea clita maiorum qui, has wisi alienum ut. Ex ponderum praesent adolescens mei. Eos omnis sapientem ut. Idque consectetuer in mea, odio nonumes conceptam ea vel, no erant expetendis interpretaris nam.</p>

    <p>Eos ubique lucilius te, cu lorem paulo viris est. Id enim evertitur dissentiunt eos, sit justo explicari te. Usu et tota veri feugait, has labores delectus no, ea simul facilisi eleifend qui. At illum dictas omittam nam, at esse tation vidisse sed. Eu eam fugit tritani equidem, ei vim tale ceteros. Cu nec hinc vidit delectus.</p>

</section>
<section class="span6 offset2">
    <p>Lorem ipsum dolor sit amet, cu labitur tractatos nam, no per nisl paulo, eu iuvaret sapientem facilisis eos. Eu exerci corpora pertinax sed, ea meis diceret vim, id nam eius mundi iudico. His eripuit blandit legendos ad, probo graece mollis ne pri, eos mnesarchum liberavisse no. Has ex ferri solet, vel eirmod ocurreret et, ei viris timeam qui. Lucilius definitiones eos ea, ei nonumy ponderum imperdiet mea.</p>

    <p>Partem platonem definitiones vim ad, ex illud dicant his. Sit ne mandamus referrentur. Usu persius constituto an, ea clita maiorum qui, has wisi alienum ut. Ex ponderum praesent adolescens mei. Eos omnis sapientem ut. Idque consectetuer in mea, odio nonumes conceptam ea vel, no erant expetendis interpretaris nam.</p>

    <p>Eos ubique lucilius te, cu lorem paulo viris est. Id enim evertitur dissentiunt eos, sit justo explicari te. Usu et tota veri feugait, has labores delectus no, ea simul facilisi eleifend qui. At illum dictas omittam nam, at esse tation vidisse sed. Eu eam fugit tritani equidem, ei vim tale ceteros. Cu nec hinc vidit delectus.</p>

    <p>Erant inermis ad duo. Movet partem prompta an sit, cu unum suscipit maiestatis mei. Ne sumo impedit pro. Cu facilis ocurreret laboramus sea, in vim movet suscipiantur. Sed et laoreet postulant.</p>

    <p>Ut per clita probatus, vis accumsan partiendo an, ea duo soleat impedit. Vix an rebum dicunt expetendis, ad mei vitae labore. Noluisse platonem eu qui. Quo ut nostro accusamus. Bonorum oportere ius at, cu soluta facilis mel.</p>
        
    <p>Erant inermis ad duo. Movet partem prompta an sit, cu unum suscipit maiestatis mei. Ne sumo impedit pro. Cu facilis ocurreret laboramus sea, in vim movet suscipiantur. Sed et laoreet postulant.</p>

    <p>Ut per clita probatus, vis accumsan partiendo an, ea duo soleat impedit. Vix an rebum dicunt expetendis, ad mei vitae labore. Noluisse platonem eu qui. Quo ut nostro accusamus. Bonorum oportere ius at, cu soluta facilis mel.</p>
</section>
@Html.ActionLink("Helpdocument", "GetPdf",null, new {@title="Helpdocument"})