@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>
<section class="span5">
    <p>Lorem ipsum dolor sit amet, cu labitur tractatos nam, no per nisl paulo, eu iuvaret sapientem facilisis eos. Eu exerci corpora pertinax sed, ea meis diceret vim, id nam eius mundi iudico. His eripuit blandit legendos ad, probo graece mollis ne pri, eos mnesarchum liberavisse no. Has ex ferri solet, vel eirmod ocurreret et, ei viris timeam qui. Lucilius definitiones eos ea, ei nonumy ponderum imperdiet mea.</p>

    <p>Partem platonem definitiones vim ad, ex illud dicant his. Sit ne mandamus referrentur. Usu persius constituto an, ea clita maiorum qui, has wisi alienum ut. Ex ponderum praesent adolescens mei. Eos omnis sapientem ut. Idque consectetuer in mea, odio nonumes conceptam ea vel, no erant expetendis interpretaris nam.</p>

    <p>Eos ubique lucilius te, cu lorem paulo viris est. Id enim evertitur dissentiunt eos, sit justo explicari te. Usu et tota veri feugait, has labores delectus no, ea simul facilisi eleifend qui. At illum dictas omittam nam, at esse tation vidisse sed. Eu eam fugit tritani equidem, ei vim tale ceteros. Cu nec hinc vidit delectus.</p>
</section>
<hr class="span11"/>
<section class="span8">
    <ul class="unstyled">
        <li>@Html.ActionLink("Ik heb een vraag over het programma.", "Contact")</li>
        <li>@Html.ActionLink("Maak een afspraak.", "Appointment")</li>
    </ul>
</section>