@{
    ViewBag.Title = "Registreer";
}

<h1>Registreer</h1>
<hr />
<p>Wilt u als logopedist graag aan de slag gaan met deze applicatie?</p>
<p>Neem dan snel contact op met SIG:</p>
<address>
    <strong>SIG vzw</strong><br>
    Kerkham 1, bus 2<br>
    9070 Destelbergen<br>
    <abbr title="Telefoon">Tel:</abbr> 09 238 31 25<br />
    <abbr title="E-mail">&#64;:</abbr> <a href="mailto:info@sig-net.be?SUBJECT=ArticulatieOnderzoek%20Aanvraag" title="Email sig">info@sig-net.be</a>
</address>

<div class="actionlink">
    @Html.ActionLink("Login", "Login", "Account")
</div>