@font-face {
    font-family: HelneueUltraLight;
    src: url(fonts/HelveticaNeueLT.ttf);
    font-weight:normal;
}
@font-face {
    font-family: HelneueLight;
    src: url(fonts/HelveticaNeueLTDikker.ttf);
    font-weight:normal;
}
body {
    background: url(Images/wave.png) no-repeat center center fixed; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      font-family: Helvetica, Arial, sans-serif;
      height: 100%;
      overflow-x: hidden;
}
html {
    height: 100%;
}
h1, h2, h3 {
    font-family: HelneueUltraLight, Arial, sans-serif;
}
h3 {
    line-height: 25px;
}
.fullheight {
    height: 100%;
}
.container-fluid {
    padding-right: 0;
}
.center { float: none; margin-left: auto; margin-right: auto; }
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
.noselect {
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;   
    -o-user-select: none;
    user-select: none;     
}
.rounded {
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nodisplay {
    display: none;
}
.clickable {
    cursor: pointer;
}
.content {
    background-color: rgba(255,255,255, 0.5);
    padding: 0px 20px;
    height: 100%;
}
.container-fluid {
    padding-left: 0 !important;
}
.login {
    margin: 150px auto 0;
    width: 246px;
}
.login h1 {
    text-align: center;
    font-size: 25px;
    font-family: HelneueLight, Arial, sans-serif;
}
.login .highlight {
    font-family: HelneueUltraLight, Arial, sans-serif;
}
.input-group {
        width: 100%;
        margin-bottom: 20px !important;
}
.login hr {
    margin-top: -15px !important;
    margin-bottom: 10px;
}
.login-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.login-logo img{
    width: 50px;
}
.logo {
    position: absolute;
    top: 5px;
    right: 10px;
}
.logo img {
    width: 50px;
    opacity: 0.4;
    z-index: 0;
}
.field-validation-error {
    display: block;
    clear: left;
    padding-left: 5px;
    padding-top: 5px;
}
.btn-override {
    width: 246px !important;
}
.sidebar {
    background: #f0f8ed;
    opacity: 0.75;
    padding-left: 20px;
    
}
.sidebar h2{
    font-family: HelneueUltraLight, Arial, sans-serif;
    color: #000;
    overflow: hidden;
}

.sidebar h3 i {
    margin-top: 10px;
    margin-right: 10px;
}
.sidebar h3 a {
    color: inherit;
}
.sidebar-actions li {
    margin-left: 20px;
    font-size: 16px;
    height: 25px;
}
.sidebar-actions li a {
    color: inherit;
    padding-left: 10px;
}
.sidebar-actions li a i {
    margin-right: 10px;
    margin-top: 3px;
}
.bottom-actions li{
    margin-left: 0;
}
.bottom-actions li a{
    margin-left: 0;
    min-width: 60px;
    padding-left: 0;
}
.sidebar hr {
    margin-bottom: 20px;
    margin-top: 15px;
}
.alert {
    position: absolute;
    bottom:20px;
    width: 60%;
    margin: 0 15%;
    z-index: 2;
}
.control-label {
    margin-right: 20px;
}
.block {
    border: 1px solid rgba(200,200,200,0.5);
    background-color: rgba(240,248,237, 0.5);
    float: left;
    border-radius: 10px;
    padding: 20px 10px 10px;
    min-width: 425px;
}
.content hr {
    border-bottom: medium none;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    height: 1px;
}
.content hr:first-of-type {
    margin-top: 0;
}
.info {
    padding: 20px 0px 20px;
}
.block .field-validation-error {
    margin-left: 175px;
}
.validation-summary-errors {
    color: #F33;
}
.validation-summary-errors ul {
    list-style: none;
    margin-left: 181px;
    margin-bottom: 20px;
    font-size: 20px;
}
.actionlink {
    margin-bottom: 20px;
    font-size: 20px;
}
.actionlink btn {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 9px 12px 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.actionlink btn:hover {
    background-image: linear-gradient(to top, #FFFFFF, #E6E6E6);
}
h1 .query:before {
    content: "< ";
    font-size: 20px;
}
h1 .query {
    font-size: 20px;
}
.form-search {
    float: right;
    margin: 20px 10px;
}
.user {
    width: 15%;
    height: 30px;
    margin-right: 1.5%;
    float: left;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 9px 12px 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.user:hover {
    background-image: linear-gradient(to top, #FFFFFF, #E6E6E6);
}

/* list images */
#images {
    padding: 20px;
    background: #f0f8ed;
    background: rgba(240, 248, 237, 0.2);
    border-radius: 5px;
    width: 100%;
    display: block;
}
.image-block {
    width: 140px;
    margin-right: 20px;
    padding: 10px;
    padding-bottom: 0;
    float: left;
    position: relative;
    margin-bottom: 20px;
}
.image-block img {
    width: 140px;
    height: 140px;
    border-radius: 5px;
}
.image-block .image-overlay {
    display: none;
    height: 130px;
    width: 130px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: rgba(0,0,0,0.7);
    color: #FAFAFA;
    border-radius: 5px;
}
.image-block .image-overlay .buttongroup-edit {
    position:absolute;
    bottom: 10px;
}
/* create images */
#upload {
    display: none;
}
#uploadClone {
    margin: 20px 0;
}
#uploadClone i{
    margin-right: 5px;
}
#upload-render {
    border: none;
    border-radius: 5px;
    opacity: 0.89;
}
#upload-send {
    display: none;
    margin-bottom: 20px;
}
.upload-entry:first-of-type {
    border-radius: 5px 5px 0 0;
}
.upload-entry {
    display: block;
    background: #f0f8ed;
    padding: 10px;
    border-bottom: 1px solid #A9A9A9;
}
.upload-entry:last-of-type {
    border-radius: 0 0 5px 5px;
    border-bottom: none;
}
.upload-entry .destroy {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
.fileThumbnail {
    margin: 0 20px 0 0;
    float:left;
    width: 200px;
    height: 200px;
}
.fileThumbnail img {
    width: 200px;
    height: 200px;
}
.upload-entry .info {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.phon input[type="text"]{
    display: inline-block;
    margin-right: 20px;
}
.audioInput .audio {
    display: none;
}
.audioClone i{
    margin-right: 5px;
}
.audioInput .audioTag {
    padding-top: 10px;
}
.audioTag audio {
    border-radius: 5px;
    background: #F5F5F5;
    border-right: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
}

/* Edit Image */
figure.background {
    margin: 0;
    
}
figure.background img{
    display: block;
    clear: both;
}
.edit-form {
    padding-top: 5px;
}
.edit-form .control-label{
    width: 80px !important;
}
.edit-form .controls{
    margin-left: 100px;
}
#edit-image-submit {
    margin-top: 45px;
}

/* Routines create */
#image-step, #sorting-step {
    display: none;
}
.gallery-img {
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.gallery-img img {
    width: 100px;
    height: 100px;
    display:block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* Routines */
.routine {
    cursor: pointer;
    background: rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 1px;
    border-radius:3px;
}
.routine span {
    font-size: 21px;
    font-family: Helvetica, Arial, sans-serif;
}
.routine .dots {
    font-size:30px;
    line-height: 30px;
}
.routine .gallery-img {
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 40px;
}
.routine .gallery-img img {
    display: block;
    height: 40px;
    margin-left: 0;
    margin-top: 0;
    width: 40px;
}

/* Routine Edit */
.routine-edit .control-label {
    font-size: 16px;
    text-align:left;
}
.routine-edit span {
    font-size: 16px;
}
.routine-edit .control-label:not(.pad) {
    padding-top: 0;
}
.routine-edit .gallery {
    margin: 0;
    padding-top: 10px;
}




/* Create Test */
.chosenRoutine {
    background: rgba(0, 0, 0, 0.3);
}
.childSelect {
    margin-bottom:10px;
    font-size:15px;
    cursor: pointer;
    width: 160px;
    float:left;
    border-radius: 5px;
    background: #e2e2e2;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    border: 1px solid #e2e2e2;
    border: 1px solid rgba(0,0,0,0.3);
    margin-right: 10px;
}
.childSelect:hover {
    border: 1px solid rgba(0,0,0,0.1);
}
.selectedChild {
    background: rgba(0,0,0,0.3);
}
.inlinelabel {
    display: inline;
    margin-left: 10px;
    position: relative;
    top: -6px;
}
.inlinerbl {
    margin-bottom: 20px !important;
    font-size: 16px;
    padding-top: 5px;
    margin-left: 25px !important;
}

/* ANALYSE TEST */
#testinfo {
    background-color: azure;
    padding: 10px;
    border-radius: 10px;
}
#testinfo p.close {
    margin-top: 23px;
    margin-right: 20px;
}
.nomarginbottom {
    margin-bottom: 0px !important;
}
#default img {
    width: 180px;
    height: 180px;
    cursor: pointer;
}
#default, #custom {
    padding: 10px;
}
section > section {
    margin-bottom: 10px;
}
.dl-horizontal dt {
    text-align: left !important;
}
.dl-horizontal dd{
    margin-left: 150px !important;
}
.borderright {
    border-right: 1px solid #e2e2e2;
}
.analyse-progress {
    border-radius: 10px;
    height: 20px;
    border: 1px solid #aaa;
    margin-top: 30px;
}
.inner-progress {
    border-radius: 10px;
    background-color: #fda95a;
    height: 20px;
}
.analyse-progress > span {
    position: relative;
    top: -20px;
    font-size: 18px;
    font-weight: bold;
}
.phonetic-copy {
    font-size: 25px;
}
.hearable-select {
    margin-top : 20px;
}
.error-text {
    margin-left:15px;
    font-size: 20px;
    color: red;
}
.error-text-temp {
    font-size: 20px;
    color: red;
}
.error-entry {
    margin-top:15px;
}
.error-entry-type {
    min-width: 150px;
    display: inline-block;
    margin-right: 10px;
}
.error-text {
    min-width: 50px;
    display: inline-block;
    margin-right: 10px;
}    


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    
}
/* landscape phone */
@media (max-width: 640px) {
    .login {
        margin-top: 20px;
        width: 186px;
    }
    .login h1 {
        text-align: left;
        font-size: 19px;   
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    .login {
        margin-top: 20px;
        width: 100%;
    }
    .login h1 {
        font-size:29px;
        text-align: left;
        margin-bottom: 30px;
    }
    .block .field-validation-error, .validation-summary-errors ul {
        margin-left: 0;
    }
    .block {
        min-width: 240px;
    }
}